/*==========  Desktop First Method  ==========*/
 /*Large Devices, Wide Screens */
@media only screen and (max-width:  1200px) {
  section.several-works span {
    font-size: 20px;
  }
}

 /*Medium Devices, Desktops */
@media screen and (max-width:  992px) {
    .right p {
    font-size: 14px;
    }
    .footer .input_style:hover {
        background-color: #f3b61d;
    }
    .footer .input_style:focus {
        background-color: #916803;
    }
    .footer p {
      padding-bottom: 0;
    }
    .footer h3 {
      padding-top: 30px;
    }
    .center p:first-of-type {
      padding-top: 30px;
      } 
    .right p:first-of-type {
      padding-top: 30px;
    }
    section.we-working .we-working-item {
      width:100%; 
      margin-left: auto;
      margin-right: auto;
  }
  section.we-working .we-working-item:before {
    display: none;
  }
  section.we-working .we-working-item p {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  section.several-works span {
    font-size: 18px;
  }
 }

 /*Small Devices, Tablets */
@media only screen and (max-width:  768px) {
  	header{
    padding-top: 55px;
    }
     .back{
    height:1027px; 
    } 
    .back h1 {
    font-size: 105px;
    margin-top: 202px;
    }
    .back p.descr {
    font-size: 19px;
    margin-bottom: 50px;
    width:400px;
    }
    .back .lines {
    margin-top: 30px;
    }
    .footer,
    .footer .right {
      text-align: center;
    }
    section.several-works span {
    font-size: 20px;
  }
}

 /*Extra Small Devices, Phones */

@media only screen and (max-width:480px) {
   .rectangles-block{
   	display:block;
   }
   .menu{
   	width:100%; 
   	position:absolute;
   	left:0;
   	top:0;
   	text-align:center; 
    display:none; 
    z-index:15;
   }
   .menu ul li{
   	display:block;
	  float:none; 
	  margin-right:0;
	  padding-bottom:20px;
	  padding-top:20px;
	  border-bottom:2px solid rgba(0,0,0,0.5);
	  background-color:rgba(50,50,212,0.2);  
    } 
    .menu ul li a{
    display:block; 
    width:100%;
    height:100%;  
    }
    header{
    padding-top: 40px;
    } 
    .back h1 {
    font-size: 60px;
    }
    .back p.descr{
     width:250px;
    }
    .back .wrap-hr-rec-block{
    width:300px;  
    }
}

 /*Custom, iPhone Retina */
@media only screen and (max-width:  320px) {

}

